## APP PARAMS
SECRET_KEY='i*****9'
UPLOAD_FOLDER='static/uploads'

## TELEGRAM SETTINGS
TELEGRAM_TOKEN='177***************************************ACU'
TELEGRAM_GROUP_ID='-4918524667'
TELEGRAM_PROXY_URL=''

## PRIMARY DB PARAMS
DB_USER='db_user'
DB_PASSWORD='db_password'
DB_NAME='db_name'
DB_HOST='127.0.0.1'
DB_PORT='5432'

## SMS API
SMS_API_GATEWAY='http://10.8.0.200:8082/sms'
SMS_API_KEY='**********************d905'

## CELERY / REDIS
CELERY_BROKER_URL='redis://127.0.0.1:6379/0'
CELERY_RESULT_BACKEND='redis://127.0.0.1:6379/1'
NOTIFICATION_HTTP_TIMEOUT='10'
