
[defaults]
stdout_callback = yaml
[colors]
ok = green
changed = purple
error = red
unreachable = bright red
skipped = yellow
debug = bright yellow
verbose = blue
warn = bright purple
deprecate = blue
highlight = white
diff_add = green
diff_remove = red
diff_lines = cyan
deprecation_warnings=False